:root {
   --h1: 1.1rem;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: 0;
   scroll-behavior: smooth;
}
body {
   font-family: "Poppins", sans-serif;
   background-image: url(/assets/images/Image\ 1.jpg);
   object-fit: cover;
   background-size: 100%;
   background-repeat: no-repeat;
}

section {
   margin: 15px 0;
   padding: 15px 40px;
}
header {
   backdrop-filter: saturate(90%) blur(40px);
   object-fit: cover;
   padding: 15px 0;
}
nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.nav-brand a {
   text-decoration: none;
   color: white;
   font-size: 2.5rem;
   font-weight: 700;
}
.nav-brand li {
   list-style: none;
}
.nav-links {
   display: flex;
   justify-content: space-around;

   width: 60%;
   margin-bottom: 0;
}
.nav-links li {
   list-style: none;
}
.nav-links a {
   text-decoration: none;
   color: white;
   font-size: 1rem;
}

.search {
   background: transparent;
   font-size: 1rem;
   color: white;
   border: none;
}
.bottom-border {
   border-bottom: 3px solid white;
}
::placeholder {
   color: white;
}
.fas {
   color: white;
   font-size: 1.2rem;
   padding-right: 5px;
}
.content1 {
   color: white;
   padding: 50px;
   align-items: center;
}
.content1 h3 {
   font-size: 2rem;
   font-weight: 600;
   margin-bottom: -15px;
}
.content1 h1 {
   display: flex;
   justify-content: center;
   font-size: 5rem;
   font-weight: 600;
}
.content1 h4 {
   display: flex;
   justify-content: flex-end;
   font-size: 2rem;
   font-weight: 600;
   margin-top: -25px;
}
.play {
   display: flex;
   margin-top: 25px;
}
.video-contant h1 {
   display: flex;
   font-size: 1rem;
   justify-content: flex-start;
   margin: 15px 15px;
}
.video-contant p {
   font-size: 0.875rem;
   width: 60%;
   display: flex;
   margin: 15px 15px;
   font-weight: 300;
}
.content2 {
   color: white;
   padding: 40px 30px;
   align-items: center;
   display: flex;
   justify-content: center;
}
.glass {
   backdrop-filter: saturate(100%) blur(60px);
   object-fit: cover;
   padding: 40px 30px;

   width: 70%;
   border-radius: 10px;
}
.glass-head {
   display: flex;
   align-items: center;
}
.glass-head h1 {
   font-size: 1.7rem;
}
.box {
   height: 2px;
   width: 100%;
   background-color: white;
   margin-right: 10px;
}
.box1 {
   height: 2px;
   width: 100%;
   background-color: white;
   margin-left: 10px;
}
.account {
   display: flex;
   justify-content: center;
   font-weight: 300;
}
.form-contant {
   margin: 50px 0;
}
.form-contant ::placeholder {
   font-size: 1rem;
   font-weight: 300;
}
.key {
   display: flex;
   justify-content: center;
}
.submit {
   border: 1px solid #764e2b;
   border-radius: 5px;
   background: #764e2b;
   padding: 8px 25px;
   color: white;
}
.footer-glass {
   backdrop-filter: saturate(100%) blur(60px);
   object-fit: cover;
   padding: 40px 30px;

   border-radius: 10px;
}
footer {
   margin: 15px 0;
   padding: 15px 40px;
}
.footer-content {
   margin: 0 30px;
}
.footer-title h1 {
   font-size: 1.5rem;
   color: white;
}
.footer-content p {
   color: white;
   padding-left: 30px;
}
