:root {
   --h1: 1.1rem;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: 0;
   scroll-behavior: smooth;
}
body {
   font-family: "Poppins", sans-serif;
   background-image: url(/assets/images/Image\ 1.jpg);
   object-fit: cover;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
}

section {
   margin: 15px 0;
   padding: 15px 40px;
}
header {
   backdrop-filter: saturate(90%) blur(40px);
   padding: 15px 0;
   position: sticky;
   top: 0;
   z-index: 100;
}
nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.nav-brand a {
   text-decoration: none;
   color: white;
   font-size: 2.5rem;
   font-weight: 700;
}
.nav-brand li {
   list-style: none;
}
.nav-links {
   display: flex;
   justify-content: space-around;
   width: 60%;
   margin-bottom: 0;
   padding-left: 50px;
}
.nav-links li {
   list-style: none;
}
.nav-links a {
   text-decoration: none;
   color: white;
   font-size: 1rem;
   position: relative;
   width: max-content;
   margin: 0 auto;
}

.search {
   background: transparent;
   font-size: 1rem;
   color: white;
   border: none;
}
.bottom-border {
   display: flex;
   border-bottom: 3px solid white;
   position: relative;
}

::placeholder {
   color: white;
}
.fas {
   color: white;
   font-size: 1.2rem;
   padding-right: 5px;
}
.content1 {
   color: white;
   padding: 50px;
   align-items: center;
}
.content1 h3 {
   font-size: 2rem;
   font-weight: 600;
   margin-bottom: -15px;
}
.content1 h1 {
   display: flex;
   justify-content: center;
   font-size: 5rem;
   font-weight: 600;
}
.content1 h4 {
   display: flex;
   justify-content: flex-end;
   font-size: 2rem;
   font-weight: 600;
   margin-top: -25px;
}
.play {
   display: flex;
   margin-top: 25px;
}
.video-contant h1 {
   display: flex;
   font-size: 1rem;

   justify-content: flex-start;
   margin: 15px 15px;
}
.video-contant p {
   font-size: 0.875rem;
   width: 60%;
   display: flex;
   margin: 15px 15px;
   font-weight: 300;
}
.content2 {
   color: white;
   padding: 40px 30px;
   align-items: center;
   display: flex;
   justify-content: center;
}
.glass {
   backdrop-filter: saturate(100%) blur(60px);
   object-fit: cover;
   padding: 40px 30px;
   width: 70%;
   border-radius: 10px;
}
.glass-head {
   display: flex;
   align-items: center;
}
.glass-head h1 {
   font-size: 1.7rem;
}
.box {
   height: 2px;
   width: 100%;
   background-color: white;
   margin-right: 10px;
}
.box1 {
   height: 2px;
   width: 100%;
   background-color: white;
   margin-left: 10px;
}
.account {
   display: flex;
   justify-content: center;
   font-weight: 300;
}
.form-contant {
   margin: 50px 0;
}
.bottom-border1 {
   border-bottom: 3px solid white;
}
.form-contant ::placeholder {
   font-size: 1rem;
   font-weight: 300;
}
.key {
   display: flex;
   justify-content: center;
}
.submit {
   border: 1px solid #764e2b;
   border-radius: 5px;
   background: #764e2b;
   padding: 8px 25px;
   color: white;
}
.footer-glass {
   backdrop-filter: saturate(100%) blur(60px);
   object-fit: cover;
   padding: 40px 30px;

   border-radius: 10px;
}
footer {
   margin: 15px 0;
   padding: 15px 40px;
}
.footer-content {
   margin: 0 30px;
}
.footer-title h1 {
   font-size: 1.5rem;
   color: white;
}
.footer-content p {
   color: white;
   padding-left: 30px;
   font-weight: 300;
}
.burger {
   display: none;
   cursor: pointer;
}
.burger div {
   width: 25px;
   height: 2px;
   background-color: white;
   margin: 5px;
   transition: all 0.3s ease;
}

@media screen and (max-width: 993px) {
   .nav-links {
      background-color: #764e2b;
      backdrop-filter: saturate(100%) blur(60px);
      position: absolute;
      left: 0px;
      height: 50vh;
      top: 9.9vh;
      display: flex;
      flex-direction: column;

      width: 50%;
      transform: translateX(-100%);
      transition: transform 0.5s ease-in;
   }

   .burger {
      display: block;
   }
   .bottom-border {
      /* width: 27vh; */
      width: 50%;
   }
   .fas {
      position: relative;
   }

   .icon {
      position: relative;
      padding-left: -100px;
   }
   .glass {
      width: 100%;
   }
   .content2 {
      padding: 40px 10px;
   }
}

.nav-active {
   transform: translateX(0%);
}
@keyframes navLinkFade {
   from {
      opacity: 0;
      transform: translateX(50px);
   }
   to {
      opacity: 1;
      transform: translateX(0px);
   }
}

.toggle .line1 {
   transform: rotate(-45deg) translate(-5px, 5px);
}
.toggle .line2 {
   opacity: 0;
}
.toggle .line3 {
   transform: rotate(45deg) translate(-5px, -5px);
}
@media screen and (max-width: 753px) {
   .player {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .glass {
      width: 100%;
   }
   .content1 > h1 {
      font-size: 3.5rem;
   }
   .content1 > h3 {
      font-size: 1.8rem;
   }
   .content1 > h4 {
      font-size: 1.8rem;
   }
   .content2 {
      padding: 10px;
   }
}
@media screen and (max-width: 576px) {
   .content1 > h1 {
      font-size: 3rem;
   }
   .content1 > h3 {
      margin-bottom: -10px;
      margin-left: -35px;
      font-size: 1.5rem;
   }
   .content1 > h4 {
      font-size: 1.5rem;
      margin-top: -8px;
      margin-right: -35px;
   }
   .play {
      display: flex;
      flex-direction: column;
   }
   .video-contant h1 {
      margin: 10px 0;
   }
   .video-contant p {
      width: 100%;
      display: flex;
      margin: 0;
      font-weight: 300;
   }
   .footer-content {
      padding: 0;
      margin: 5px 0;
      margin-left: 5px;
   }
   .footer-glass {
      padding: 30px;
   }
   .content2 {
      padding: 20px 10px;
   }
   section {
      padding: 30px 8px;
   }

   footer {
      padding: 20px 10px;
   }
}
